.us
{
position: relative;
top: 150px;
left: 490px;
font-size: 50px;
color: dimgray;
background-color: darkkhaki; width: 220px; height: 60px; 
}


.about
{
position: relative;
top: 170px;
left: 0px;
}
.about1
{
position: relative;
top: 220px;
left: 100ppx;
}