.fun
{
    font-size: 80px;
    position: relative;
    top: 140px;
    left: 550px;
    color: darkolivegreen;
   
 
 
}
 .fun1
{
    
    font-size: 80px;
    position: absolute;
    height: 800px;
    width: 1400px;
    top: 300px;
    left: 10px;
  
     
}
    
