.head{
    background-color: grey;
    color: pink;
    font-size: 40px;
}
.l1
{
    background-color: yellow;
    border: 10px  solid  black;
}
.l2
{


    background-color: blue;
    border: 10px  solid greenyellow;
}
